In [1]:
import json
import pandas as pd

In [3]:
data = list()
with open("../integrl/sft/runs/evals/Qwen2.5-Math-1.5B_r1_zero_1755876229.jsonl") as f:
    for line in f:
        data.append(json.loads(line))

In [7]:
df = pd.DataFrame(data).drop(columns=["idx"])

In [26]:
rewards_df = pd.DataFrame(df["rewards"].tolist())

In [31]:
rewards_df["format_reward"].mean()

0.2001516300227445

In [32]:
rewards_df["answer_reward"].mean()

0.01819560272934041

In [37]:
rewards_df[["format_reward", "answer_reward"]].value_counts().unstack()

answer_reward     0.0   1.0
format_reward
0.0            1055.0   NaN
1.0             240.0  24.0